body { background-color: #B0C4DE;
color:#4682B4;
}

span {
   color: white;
}

section {
   padding-top: 30px;
   background-color: #4682B4;
   text-align: center;
}

.objetivos {
   font-size: 18px;
   padding: 18px;
   border: 0px;
}

.ativo {
   border-bottom: 4px solid #062a47;
}

.textos {
   text-align: center;
}

.aba-conteudo {
   display: none;
}

.ativa {
   display: block;
}